CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: FSBL/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: FSBL/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*

---

CompileFlags:
  Add:
  - '-ferror-limit=0'
  - '-Wno-implicit-int'
  CompilationDatabase: Appli/build
Diagnostics:
  Suppress:
  - unused-includes
  - unknown_typename
  - unknown_typename_suggest
  - typename_requires_specqual
If:
  PathMatch: Appli/.*
